<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="path" value ="C:/Users/polann/Desktop/pliki_do_konectora/"/>
    <add key="fileName" value ="f-vat_2011.pdf"/>
    <add key="endPath" value ="C:\\Z_Konektora"/>
    <add key="endFileName" value ="TestSkanujTo.pdf"/>
  </appSettings>
</configuration>
